[Container]
Image=docker.io/justarchi/archisteamfarm
ContainerName=archisteamfarm
Volume=archisteamfarm.volume:/app/config
Network=archisteamfarm.network
PodmanArgs=--mount type=tmpfs,destination=/app/logs
PodmanArgs=--log-driver=journald
Label=io.containers.autoupdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target