[Container]
Image=docker.io/justarchi/archisteamfarm
ContainerName=archisteamfarm
Volume=archisteamfarm.volume:/app/config
Tmpfs=/app/logs
Network=archisteamfarm.network
Label=io.containers.autoupdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target