[Container]
Image=docker.io/cloudflare/cloudflared
ContainerName=cloudflared
Exec=tunnel run
Secret=CLOUDFLARE_TOKEN,type=env,target=TUNNEL_TOKEN
Network=archisteamfarm.network
Network=cockpit.network
Network=homer.network
Network=transmission.network
Label=io.containers.autoupdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target