[Container]
Image=quay.io/cockpit/ws
ContainerName=cockpit
Environment=COCKPIT_SSH_KEY_PATH=/run/secrets/COCKPIT_SSH
Secret=COCKPIT_SSH,type=mount,mode=0400
Volume=cockpit.volume:/etc/cockpit
Network=cockpit.network
Label=io.containers.autoupdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target