[Container]
Image=docker.io/tecnativa/docker-socket-proxy
ContainerName=docker-socket-proxy
Environment=CONTAINERS=1
SecurityLabelDisable=true
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro
Network=docker-socket-proxy.network
Label=io.containers.autoupdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target