[Container]
Image=docker.io/b4bz/homer
ContainerName=homer
Volume=homer.volume:/www/assets
Network=homer.network
PodmanArgs=--log-driver=journald
Label=io.containers.autoupdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target