[Container]
Image=docker.io/linuxserver/prowlarr
ContainerName=prowlarr
Environment=PUID=%U
Environment=GUID=%G
Volume=prowlarr.volume:/config
Network=transmission.network
Label=io.containers.autoupdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target