[Container]
Image=docker.io/linuxserver/prowlarr
ContainerName=prowlarr
Environment=PUID=%U
Environment=GUID=%U
Volume=prowlarr.volume:/config
Network=transmission.network
PodmanArgs=--log-driver=journald
Label=io.containers.autoupdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target