[Container]
Image=docker.io/linuxserver/radarr
ContainerName=radarr
Environment=PUID=%U
Environment=GUID=%U
Volume=radarr.volume:/config
Volume=%h/Torrents:/downloads:z
Volume=/var/mnt/nfs/Movies:/movies:U
Network=transmission.network
Label=io.containers.autoupdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target