[Container]
Image=docker.io/linuxserver/sonarr
ContainerName=sonarr
Environment=PUID=%U
Environment=GUID=%G
Volume=sonarr.volume:/config
Volume=%h/Torrents:/downloads:z
Volume=/var/mnt/nfs/TV:/tv:U
Network=transmission.network
Label=io.containers.autoupdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target