[Container]
Image=docker.io/louislam/uptime-kuma
ContainerName=uptime-kuma
AddCapability=NET_RAW
Volume=uptime-kuma.volume:/app/data
Network=archisteamfarm.network
Network=cockpit.network
Network=homer.network
Network=transmission.network
Network=docker-socket-proxy.network
PodmanArgs=--log-driver=journald
Label=io.containers.autoupdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target